
h1{
	line-height:0rem;
	font-size:8rem;
	font-family: Expletus;
	color:#ff0000;
	text-align: center;
}


@font-face{
  font-family: Expletus;
  src: url(ExpletusSans-Regular.ttf);
}


h2,h3{
	line-height:.38rem;
	font-size:2rem;
	font-family:Bebas Neue;
	color:black;
	text-align: center;
}

h4{
	line-height:0rem;
	font-size:4rem;
	font-family:Bebas Neue;
	color:#ff0000;
	text-align: left;
}


p{

	font-size: 2rem;
	text-align: right;
	font-family: Bebas Neue;
	line-height: 1.3rem;
}

button{
	background-color: #4CAF50;
  	border: none;
  	color: white;
  	padding: 1rem 2rem;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 1rem;
  	margin: .01rem .03rem;
  	border-radius: .5rem;
}

  body{

    background-image: url("pan.png");
    background-size: auto;
    background-color: #ffffe6;
    background-repeat: no-repeat;
    background-position: -35rem 1rem;

  }