 @font-face{
     font-family: Expletus;
     src: url(ExpletusSans-Regular.ttf);
}
 @font-face{
     font-family: WendyOne-Regular;
     src: url(WendyOne-Regular.ttf);
}
 .name-rest{
     line-height:0rem;
     font-size:9rem;
     font-family: Expletus;
     color:#ff0000;
     text-align: center;
}
 .restaurant{
     line-height:.38rem;
     color:black;
     text-align: center;
     font-size: 6rem;
     font-family: Expletus;
}
 .slogan{
     font-family:Bebas Neue;
     color:black;
     text-align: center;
     line-height: 2rem;
     font-size: 4rem;
}
 .number{
     line-height:.38rem;
     font-family:Expletus;
     color:#ff0000;
     text-align: center;
     font-size: 8rem;
}
 .seven-eleven{
     line-height:.38rem;
     font-size: 2.2rem;
     font-family:Bebas Neue;
     color:black;
     text-align: center;
}
 .city{
     font-size: 2.2rem line-height:.38rem;
     font-size:2.5rem;
     font-family:Bebas Neue;
     color:black;
     text-align: center;
}
 .we-deliver{
     color: #ff0000;
     font-size: 4rem;
     font-family: Expletus;
     text-align: right;
     margin: 1rem 8rem;
}
 .open-days{
     text-align: right;
     font-size:3rem;
     font-family: Expletus;
     margin: 1rem 5rem;
     line-height:2rem;
     color:#ff0000;
}
 .hours-mon-thur{
     margin: 1rem 1rem;
     font-size: 2.8rem;
     text-align: right;
     font-family: Bebas Neue;
     line-height: 2rem;
}
 .hours-fri-sat{
     font-size: 2.8rem;
     margin: 1rem 2rem;
     text-align: right;
     font-family: Bebas Neue;
     line-height: 2rem;
}
 .hours-sun{
     margin: 1rem 3rem;
     font-size: 2.8rem;
     text-align: right;
     font-family: Bebas Neue;
     line-height: 2rem;
}
 .pan-background{
     background-image: url("pan.png");
     background-repeat: no-repeat;
     background-position: left top;
     background-size: contain;
     min-width: 100%;
     min-height: 100%;
     display: block;
     padding: 0;
}
 nav{
}
 nav ul{
     list-style: none;
}
 nav ul li{
     display:inline-block;
     padding: 1rem;
}
 nav ul li a{
     text-decoration: none;
     font-family: WendyOne-Regular;
     background-color: #4CAF50;
     color: black;
     text-align: center;
     font-size: 2.5rem;
}
/* button{
     background-color: #4CAF50;
     border: none;
     color: white;
     padding: 1rem 2rem;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 1rem;
     margin: 1rem 45rem;
     border-radius: .5rem;
}
 */
 body{
     background-color: #ffffe6;
}
 